:markdown
  ## Junior

  Junior Developers share the same requirements outlined above, but typically
  join with less or alternate experience in one of the key areas of Developer
  expertise (Ruby on Rails, Git, reviewing code). For example,
  a person with extensive experience in a web framework other than RoR, but with experience
  on the other areas would typically join as a Junior.

  Other characteristics of Junior Developers:

  1. Work needs to be thoroughly reviewed with substantial review needed before merging.
  2. Needs significant guidance on general approach of a new task
  3. Has mastered basic language features, but may not be familiar with advanced techniques/structures
  4. Works primarily on small issues or tightly scoped, routine problems
